.fadeSlide-enter {
	opacity: 0;
	transform: translateX(-150px);
}
.fadeSlide-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: 1000ms ease all;
}

.fadeSlide-exit {
	opacity: 1;
	transform: translateX(0);
}
.fadeSlide-exit-active {
	opacity: 0;
	transform: translateX(-150px);
	transition: 1000ms ease all;
}